* {
  box-sizing: border-box;
}
#bgvideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
body {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  height: 100vh;
  align-content: center;
}
#container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  border: 1px solid limegreen;
  height: 38rem;
  width: 30rem;
  position: fixed;
  margin-left: 32rem;
}
#screen {
  height: 7rem;
  width: 30rem;
  border: 1px solid darkolivegreen;
  font-size: 50px;
  font-family: cursive;
  font-weight: 700;
  color: yellow;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  word-break: break-word;
}
#innerScreen {
  max-height: 7rem;
  width: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: cursive;
  font-size: xxx-large;
  font-weight: 900;
  color: yellow;
  word-break: break-word;
}
.buttons {
  height: 3rem;
  width: 6rem;
  border: 0.2rem solid red;
  font-size: xx-large;
  font-family: cursive;
  padding-left: 2.5rem;
  color: black;
  background-color: grey;
}
#clear,
#del {
  width: 12rem;
  padding-left: 4.6rem;
}
@media all and (max-width: 768px) {
  #container {
    margin-left: 10rem;
  }
}
@media all and (max-width: 320px) {
  #bgvideo {
    display: none;
  }
  .buttons {
    max-height: 3rem;
    width: 4rem;
    font-size: larger;
  }
  #container {
    height: 100vh;
    width: 95vw;
    margin: 0;
    background-color: beige;
  }
  #clear,
  #del {
    padding-left: 1.2rem;
    max-width: 6rem;
  }
  #screen,
  #innerScreen {
    background-color: black;
  }
}
@media all and (max-width: 375px) {
  #bgvideo {
    display: none;
  }
  .buttons {
    max-height: 3rem;
    max-width: 5rem;
    font-size: larger;
  }
  #container {
    height: 100vh;
    width: 95vw;
    margin: 0;
    background-color: beige;
  }
  #clear,
  #del {
    padding-left: 1.2rem;
    max-width: 6rem;
  }
  #screen,
  #innerScreen {
    background-color: black;
  }
}
@media all and (max-width: 425px) {
  #bgvideo {
    display: none;
  }
  .buttons {
    max-height: 3rem;
    font-size: larger;
  }
  #container {
    height: 100vh;
    width: 95vw;
    margin: 0;
    background-color: beige;
  }
  #clear,
  #del {
    padding-left: 1.2rem;
    max-width: 6rem;
  }
  #screen,
  #innerScreen {
    background-color: black;
  }
}
