* {
  box-sizing: border-box;
}
#bgvideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
body {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  height: 100vh;
  align-content: center;
}
#container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  border: 1px solid limegreen;
  height: 38rem;
  width: 30rem;
  position: fixed;
  margin-left: 434px;
}
#screen {
  height: 7rem;
  width: inherit;
  border: 1px solid darkolivegreen;
  font-size: 50px;
  font-family: cursive;
  font-weight: 700;
  color: yellow;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  word-break: break-word;
}
#innerScreen {
  height: 100px;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: cursive;
  font-size: xxx-large;
  font-weight: 900;
  color: yellow;
  word-break: break-word;
}
.buttons {
  height: 3rem;
  width: 6rem;
  border: 4px solid red;
  font-size: xx-large;
  font-family: cursive;
  padding-left: 2.5rem;
  color: black;
  background-color: grey;
}
#clear,
#del {
  width: 12rem;
  padding-left: 4.6rem;
}
.clicked {
  box-shadow: 7px 6px 28px 1px rgba(241, 9, 145, 0.89);
  transform: translateY(4px);
}
